make the first character of the first word in a paragraph bold and change its font size to 150%
remove the text decorations for links (for visited links as well)
put underline to a link text when mouse is over it
draw a dotted border line for table and every cell in the table
merge the border line for table and cells


body {
    font-family: sans-serif;
    background-color: #1D2475;
    color : #939396
    background-image: url("image/soonae.gif");
    background-repeat: no-repeat;
    background-position: top right;
}

h1{
    font-size: 40pt;
    text-shadow : 3px -3px green;
}

dl {
    font-size: 70%;
}

dt {
    font-weight: bold;
    color : #FFF86B;
}

a{
    color: #FF4F4F;
}

h1, h2{
    color : #F7931E
}

q {
    color: #D1DFEB;
}

ol, ul, blockquote{
    text-align : left;
}

table {
    border: 1px dotted black;
    border-collapse: collapse;
}
th, td{
    border:1px dotted black;
}

ul{
    list-style-type : square;
}

img{
    border:medium ridge #F7931E;
}
